# dependencias
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
next-env.d.ts

# build
/dist
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env (`.env.example` sí se versiona)
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# prisma
/prisma/generated/

# fotos subidas por /api/evidence
/public/uploads/*
!/public/uploads/.gitkeep