@import "tailwindcss";

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
  background: #e4e4e7;
}

.leaflet-container img,
.leaflet-container canvas {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container img.leaflet-tile {
  mix-blend-mode: normal !important;
}